<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>auth</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>estatemate</string>
				<string>com.googleusercontent.apps.751209828977-s25uctpe1mcc9nektcqrv5q01csf6i30</string>
			</array>
		</dict>
	</array>
	<key>NSCameraUsageDescription</key>
	<string>用于拍照设置表单背景图片</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>用于一键获取当前位置并填写活动策划地址。</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>用于保存/上传背景图片</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>用于从相册选择图片作为表单背景</string>
	<key>UIUserInterfaceStyle</key>
	<string>Light</string>
</dict>
</plist>
