<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>auth</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>estatemate</string>
				<string>com.googleusercontent.apps.313537601779-5084ffo0usvos0si1m9s9qtev5bhthos</string>
			</array>
		</dict>
	</array>

	<key>NSLocationWhenInUseUsageDescription</key>
	<string>用于一键获取当前位置并填写开放日活动地址。</string>
</dict>
</plist>
